<nav class="navbar is-info is-fixed-top">
    <div class="container">
        <div class="navbar-menu">
            <div class="navbar-brand">
                <a href="" class="navbar-item has-text-warning has-text-weight-bold is-size-4">
                    Delivery System
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="" class="navbar-link">
                        Trade Parner
                    </a>
                    <div class="navbar-dropdown has-text-black">
                        <a href="" class="navbar-item">
                            Warehouses
                        </a>
                        <a href="" class="navbar-item">
                            Price List
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">
                        Reports
                    </div>
                    <div class="navbar-dropdown has-text-black">
                        <a href="" class="navbar-item">
                            Settlement Report
                        </a>
                        <a href="" class="navbar-item">
                            Parcel Report
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="" class="navbar-link">
                        Profile
                    </a>
                    <div class="navbar-dropdown has-text-black">
                        <a href="" class="navbar-item">
                            Change Password
                        </a>
                        <a href="" class="navbar-item">
                            Logout
                        </a>
                    </div>
                </div>
                <a href="" class="navbar-item">
                    Login
                </a>
                <a href="" class="navbar-item">
                    Parcel Status
                </a>
                <a href="" class="navbar-item">
                    Contact
                </a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>