<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
        <h3 class="title">Trade Partners:</h3>
        <div class="box buttons">
            <button routerLink="/tradepartner/{{ trade_partner.id }}"
                class="button is-light is-block is-large is-fullwidth" *ngFor="let trade_partner of list;">
                {{ trade_partner.name }}
            </button>
            <button routerLink="/tradepartner/add" class="button is-block is-success is-large is-fullwidth">
                Add
            </button>
        </div>
    </div>
</div>